{% extends "GRY_APP/layout.html" %}

{% block body %}
<div class="show">
    <h1 style="font-family: 'Gravitas One';">GAME REC</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        <br>
        <input style="height:40px;width:100px;"class="btn" type="submit" value="Login">
    </form>
<br>
    Don't have an account? <a style="color:white;" href="{% url 'register' %}"><b>Register here.</b></a>
</div>
    <div class="intro" style="font-family: 'Anton', sans-serif;">
        <div class="intro-text">
            <h1 class="hide">
                <span class="text">Game Rec</span>
            </h1>
            <h1 class="hide">
                <span class="text">The best games</span>
            </h1>
            <h1 class="hide">
                <span class="text">of all time!</span>
            </h1>
        </div>
    </div>
    <div class="slider"></div>
{% endblock %}